.login-page {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('./Assets/8068.jpeg'); /* Ensure the path is correct */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(-2px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure it covers the full viewport height */
    width: 100vw; /* Ensure it covers the full viewport width */
  }
.login-container {
    background: white;
    backdrop-filter: blur(2px);
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    z-index: -1;
}

.login-container > div {
    padding: 5px;
}

.login-header {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000066; /* Dark blue */
    margin-bottom: 20px;
}

.username-field, .password-field {
    width: 100%;
    margin-bottom: 20px;
}

.label h4 {
    margin: 0 0 5px 0;
    font-size: 1rem;
    color: #000066;
}

.input-field {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    transition: border-color 0.3s;
}

.input-field input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 10px 10px 40px;
    font-size: 1rem;
    color: #000066; /* Dark blue */
    background-color: transparent;
}

.input-field input::placeholder {
    color: #aaa;
}

.input-field:focus-within {
    border-bottom-color: #FFF35E; 
}

.forgot-password p {
    margin: 5px 0 0 0;
    font-size: 0.9rem;
    color: #75d408; 
    cursor: pointer;
    text-align: right;
}

.forgot-password p:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
}

.login-button button {
    background: linear-gradient(45deg, #000066, #FFF35E); /* Dark blue to bright yellow */
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.4s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.login-button button:hover {
    background: linear-gradient(45deg, #FFF35E, #000066); /* Bright yellow to dark blue */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.password {
    padding: 10px 10px 10px 40px;
    font-size: 1rem;
    color: #000066; /* Dark blue */
    background-image: url('./Assets/padlock.png');
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 20px;
}

.username {
    padding: 10px 10px 10px 40px;
    font-size: 1rem;
    color: #000066; /* Dark blue */
    background-image: url('./Assets/user (1).png');
    background-image: url('./Assets/user (1).png');
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 20px;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.sign-up p {
    padding: 15px;
    color: #000066; /* Dark blue */
    align-items: center;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.logos img {
    height: 30px;
    width: 30px;
}

.logos img:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: all 0.4s ease;
    height: 35px;
    width: 35px;
}
.signup-button{
    width: 100%;
}
.signup-button button{
    background: linear-gradient(45deg,  #FFF35E,#000066); /* Dark blue to bright yellow */
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 40px;
    transition: all 0.4s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.signup-button button:hover {
    background: linear-gradient(45deg,  #000066,#FFF35E); /* Bright yellow to dark blue */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

